body{
  /*background-image: url("/static/background/bg-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #ECF9FF;
}
/*.nav-link:hover{
  color: aliceblue;
}*/
.child{
  border-style: solid;
  border-width:5px;
  border-radius: 10px;
  padding: 20px;
  width: 700px;
}
.parent{
  display: flex;
  justify-content: center;
  align-items:center;
}
.nav-link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}
.qoute{
  font-family: 'Labrada', serif;
  color:#4E31AA;
}
.errmsg{
  color: red;
  font-size: 25px;
}
.sucessmsg{
  color: #82CD47;
  font-size: 25px;
}
.stdtable{
  border: red;
  border-style: solid;
}
thead {
	background-color: #333;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

/* Styles for delete PopUp */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
/*
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 26pt;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
*/
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}